<div mat-dialog-title>
    <span>דרוג עבור משתמש</span><br>
    <span style="font-size: large;">
        <b>{{data.username}}</b> - {{data.nation.name}} | {{data.religion.name}}
    </span>
    <div class="line"></div>
</div>
<div mat-dialog-content>
    <span style="font-size: x-large;">באיזו מידה את.ה מסכימ.ה עם {{data.username}}?</span><br>
    <div class="d-flex flex-row buttons">
        <button #top class="review-button" (click)="topButtonPressed(0)">לא רלוונטי</button>
        <button #top class="review-button" (click)="topButtonPressed(1)">1</button>
        <button #top class="review-button" (click)="topButtonPressed(2)">2</button>
        <button #top class="review-button" (click)="topButtonPressed(3)">3</button>
        <button #top class="review-button" (click)="topButtonPressed(4)">4</button>
        <button #top class="review-button" (click)="topButtonPressed(5)">5</button>
        <button #top class="review-button" (click)="topButtonPressed(6)">6</button>
        <button #top class="review-button" (click)="topButtonPressed(7)">7</button>
        <button #top class="review-button" (click)="topButtonPressed(8)">8</button>
        <button #top class="review-button" (click)="topButtonPressed(9)">9</button>
        <button #top class="review-button" (click)="topButtonPressed(10)">10</button>
    </div>
    <span style="font-size: x-large;">באיזו מידה את.ה מעריכ.ה את אופן השיח של {{data.username}}?</span><br>
    <div class="d-flex flex-row buttons">
        <button #btm class="review-button" (click)="btmButtonPressed(0)">לא רלוונטי</button>
        <button #btm class="review-button" (click)="btmButtonPressed(1)">1</button>
        <button #btm class="review-button" (click)="btmButtonPressed(2)">2</button>
        <button #btm class="review-button" (click)="btmButtonPressed(3)">3</button>
        <button #btm class="review-button" (click)="btmButtonPressed(4)">4</button>
        <button #btm class="review-button" (click)="btmButtonPressed(5)">5</button>
        <button #btm class="review-button" (click)="btmButtonPressed(6)">6</button>
        <button #btm class="review-button" (click)="btmButtonPressed(7)">7</button>
        <button #btm class="review-button" (click)="btmButtonPressed(8)">8</button>
        <button #btm class="review-button" (click)="btmButtonPressed(9)">9</button>
        <button #btm class="review-button" (click)="btmButtonPressed(10)">10</button>
    </div>
</div>
<div class="action" mat-dialog-actions>
    <button class="send-review" mat-button (click)="gradeUser()">דרג ושלח</button>
</div>